@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Oleo+Script+Swash+Caps&display=swap");
html {
  background-color: black;
}

html body {
  margin: 0;
  padding: 0;
  color: white;
  width: 1440px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html body {
    min-width: 300px;
    max-width: auto;
  }
}

html header {
  width: 1440px;
  height: 959px;
  background-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../asset/home/cleaning-1837328_1920.jpg);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html header {
    min-width: 320px;
    max-width: 480px;
    background-image: url(./asset/home/cleaning-1837328_1920copiecopie.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

html header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1440px;
  height: 96px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 40px;
}

@media all and (min-width: 320px) and (max-width: 480px) {
  html header nav {
    width: auto;
    min-width: 320px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

html header nav img {
  width: 250px;
  height: auto;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html header nav img {
    width: 150px;
    background-image: none;
  }
}

html header nav .ligne {
  width: 600px;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(white), to(#b08715));
  background: linear-gradient(to right, white, #b08715);
  mix-blend-mode: normal;
  opacity: 0.55;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html header nav .ligne {
    width: 150px;
  }
}

html header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 570px;
  height: 96px;
  background: rgba(255, 255, 255, 0.065);
  -webkit-backdrop-filter: blur(61.5485px);
          backdrop-filter: blur(61.5485px);
  color: rgba(255, 255, 255, 0.04);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html header nav ul {
    width: 375px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
}

html header nav ul li {
  list-style: none;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
}

@media all and (min-width: 300px) and (max-width: 375px) {
  html header nav ul li {
    width: 100%;
  }
}

html header nav ul li:hover {
  text-decoration: underline;
  text-underline-offset: 35px;
  text-decoration-thickness: 3px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html header nav ul li:hover {
    text-decoration: none;
  }
}

html header nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-decoration-color: #b08715;
          text-decoration-color: #b08715;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html header nav ul li a:hover {
    color: #b08715;
  }
}

html header nav ul li a span {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
}

html header #presentation-texte {
  width: 1100px;
  height: 582px;
  margin-left: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.433);
  background: transparent black;
  border-radius: 20px;
  -webkit-box-shadow: 20px 29px 81px 0px rgba(0, 0, 0, 0.792);
          box-shadow: 20px 29px 81px 0px rgba(0, 0, 0, 0.792);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html header #presentation-texte {
    width: 370px;
    height: auto;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html header #presentation-texte .texte-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 121px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html header #presentation-texte .texte-info {
    margin: 0;
  }
}

html header #presentation-texte .texte-info h1 {
  width: 445px;
  height: 172px;
  font-weight: 400;
  font-size: 70px;
  line-height: 172px;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0;
  text-align: center;
  font-family: "Bellefair", serif;
  color: #b08715;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html header #presentation-texte .texte-info h1 {
    width: 350px;
    font-size: 35px;
    height: 100px;
    line-height: 70px;
  }
}

html header #presentation-texte .texte-info :nth-child(2) {
  width: 445px;
  height: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 2.725px;
  color: #D0D6F9;
  margin-top: 0;
  margin-bottom: 0px;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html header #presentation-texte .texte-info :nth-child(2) {
    width: 350px;
    font-size: 20px;
    height: 30px;
    line-height: 0px;
  }
}

html header #presentation-texte .texte-info :nth-child(3) {
  width: 440px;
  height: auto;
  font-size: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
  font-family: "Barlow", sans-serif;
  margin-bottom: 0;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html header #presentation-texte .texte-info :nth-child(3) {
    width: 350px;
    font-size: 20px;
    height: auto;
    line-height: 30px;
    margin: 0;
  }
}

html header #presentation-texte div.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 445px;
  margin-top: 34px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media all and (min-width: 300px) and (max-width: 375px) {
  html header #presentation-texte div.contact {
    width: 370px;
    text-align: center;
  }
}

html header #presentation-texte div.contact h3 {
  font-weight: 700;
  font-size: 28px;
  color: #b08715;
  font-family: "Barlow", sans-serif;
}

html header #presentation-texte div.contact .contact-direct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html header #presentation-texte div.contact .contact-direct {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

html header #presentation-texte div.contact a {
  width: 96px;
}

html main#contenu-principal {
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html main#contenu-principal {
    width: 375px;
    margin: 0;
  }
}

html main#contenu-principal #categorie-voiture {
  width: 1110px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html main#contenu-principal #categorie-voiture {
    width: 370px;
    height: auto;
  }
}

html main#contenu-principal #categorie-voiture h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  text-decoration: underline;
  text-underline-offset: 25px;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: #b08715;
          text-decoration-color: #b08715;
  line-height: 19px;
  letter-spacing: 2.7px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html main#contenu-principal #categorie-voiture h3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 30px;
    text-align: center;
    text-underline-offset: 3px;
  }
}

html main#contenu-principal #categorie-voiture p.liste-categorie {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  line-height: 32px;
  letter-spacing: 1.7px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html main#contenu-principal #categorie-voiture p.liste-categorie {
    text-align: center;
  }
}

html main#contenu-principal #categorie-voiture p.liste-categorie span {
  color: #b08715;
}

html main#contenu-principal #categorie-voiture #info-categorie {
  width: 1200px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html main#contenu-principal #categorie-voiture #info-categorie {
    width: 375px;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

html main#contenu-principal #categorie-voiture #info-categorie .detail-categorie {
  width: 750px;
  height: 90px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html main#contenu-principal #categorie-voiture #info-categorie .detail-categorie {
    text-align: center;
    width: 375px;
    height: 70px;
  }
}

html main#contenu-principal #categorie-voiture #info-categorie .detail-categorie p {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html main#contenu-principal #categorie-voiture #info-categorie .detail-categorie p {
    line-height: 25px;
    font-size: 16px;
  }
}

html main#contenu-principal #categorie-voiture #info-categorie .detail-categorie p:first-letter {
  color: #b08715;
}

html main#contenu-principal #categorie-service-prestation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1440px;
  height: 1350px;
  background: center/cover no-repeat url(../asset/home/towfiqu-barbhuiya-5m5418Ng6t8-unsplash-ConvertImage.jpg);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html main#contenu-principal #categorie-service-prestation {
    width: 375px;
    height: auto;
  }
}

html main#contenu-principal #categorie-service-prestation h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  text-decoration: underline;
  text-underline-offset: 25px;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: #b08715;
          text-decoration-color: #b08715;
  line-height: 19px;
  letter-spacing: 2.7px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html main#contenu-principal #categorie-service-prestation h3 {
    width: 375px;
    text-align: center;
    line-height: 32px;
    text-underline-offset: 5px;
  }
}

html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie {
    width: 375px;
    height: auto;
  }
}

html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .attention {
  width: 1100px;
  text-align: center;
  font-family: "Bellefair", serif;
}

html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .categorie-prestation {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 480px;
  height: auto;
  margin-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Bellefair", serif;
  background-color: rgba(0, 0, 0, 0.727);
  background: transparent black;
  border-radius: 20px;
  -webkit-box-shadow: 20px 29px 81px 0px rgba(0, 0, 0, 0.792);
          box-shadow: 20px 29px 81px 0px rgba(0, 0, 0, 0.792);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .categorie-prestation {
    width: 350px;
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .categorie-prestation .teste-drive {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .categorie-prestation .teste-drive {
    width: 375px;
  }
}

html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .categorie-prestation .teste-drive .un {
  margin-left: 50px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .categorie-prestation .teste-drive .un {
    margin: 20px;
  }
}

html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .categorie-prestation .teste-drive .un h4 {
  color: #b08715;
  font-size: 30px;
  font-family: 'Oleo Script Swash Caps', cursive;
}

html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .categorie-prestation .teste-drive .un p {
  width: 130px;
}

html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .categorie-prestation .teste-drive .un p span {
  color: #b08715;
}

html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .categorie-prestation .teste-drive .img-temp {
  margin: 0;
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: #b08715;
}

html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .categorie-prestation .teste-drive .img-temp img {
  width: 230px;
  margin-bottom: 0px;
  margin: 0;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .categorie-prestation .teste-drive .img-temp img {
    width: 150px;
  }
}

html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .categorie-prestation ul li {
  text-transform: uppercase;
  list-style: " - ";
  font-size: 16px;
  line-height: 19px;
}

html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .categorie-prestation ul li span {
  color: #b08715;
}

html main#contenu-principal #categorie-service-prestation #prix-prestation-categorie .ligne-separ {
  width: 1100px;
  height: 2px;
  background-color: #b08715;
  margin: 0;
  text-align: center;
}

html main#contenu-principal #prestation-carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1440px;
  height: 700px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html main#contenu-principal #prestation-carte h3 {
  width: 1400px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  text-decoration: underline;
  text-underline-offset: 25px;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: #b08715;
          text-decoration-color: #b08715;
  line-height: 19px;
  letter-spacing: 2.7px;
}

html main#contenu-principal #prestation-carte ul {
  list-style: none;
  text-align: center;
}

html main#contenu-principal #prestation-carte ul li {
  font-size: 14px;
  font-family: "Barlow", sans-serif;
}

html main#contenu-principal #prestation-carte ul li span {
  color: #b08715;
  font-size: 16px;
}

html main#contenu-principal #prestation-carte ul li.titre-presta-cart {
  font-style: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5px;
}

html main#contenu-principal #prestation-carte ul li.titre-presta-cart span {
  color: #b08715;
}

html main#contenu-principal #photo {
  width: 1440px;
  height: 847px;
}

html main#contenu-principal #photo h3 {
  width: 1440px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  text-decoration: underline;
  text-underline-offset: 25px;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: #b08715;
          text-decoration-color: #b08715;
  line-height: 19px;
  letter-spacing: 2.7px;
}

html main#contenu-principal #photo .photo-temoin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
}

html main#contenu-principal #photo .photo-temoin img {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

html main#contenu-principal footer {
  width: 1440px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #030301;
  border-top: #b08715 1px solid;
  text-align: center;
  margin-top: 20px;
}

html main#contenu-principal footer img {
  width: 250px;
  height: auto;
}

html main#contenu-principal footer .footer-menu {
  width: 570px;
}

html main#contenu-principal footer .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 570px;
  height: 96px;
  background: rgba(255, 255, 255, 0.065);
  -webkit-backdrop-filter: blur(61.5485px);
          backdrop-filter: blur(61.5485px);
  color: rgba(255, 255, 255, 0.04);
}

html main#contenu-principal footer .footer-menu ul li {
  list-style: none;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
}

html main#contenu-principal footer .footer-menu ul li:hover {
  text-decoration: underline;
  text-underline-offset: 35px;
  text-decoration-thickness: 3px;
}

html main#contenu-principal footer .footer-menu ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-decoration-color: #b08715;
          text-decoration-color: #b08715;
}

html main#contenu-principal footer .footer-menu ul li a span {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
}

html main#contenu-principal footer .footer-menu .footer-contact-direct {
  margin-top: 50px;
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html main#contenu-principal footer .footer-menu .footer-contact-direct a img {
  width: 46px;
}

html main#contenu-principal footer .plan {
  font-size: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
  text-align: justify;
  font-family: "Barlow", sans-serif;
  margin-bottom: 0;
}

html main#contenu-principal footer .plan span {
  color: #b08715;
}
/*# sourceMappingURL=style.css.map */